openapi: 3.1.0
info:
  title: Bounded GitHub Development Prototype
  version: 0.1.0
servers:
  - url: https://bounded-agent-coordinator.marco548453.chatgpt.site
paths:
  /v1/github/commit:
    post:
      operationId: writeBoundedGitCommit
      x-openai-isConsequential: true
      summary: Create or update the allowlisted experiment branch using Git objects.
      requestBody:
        required: true
        x-bodyMaxBytes: 393216
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequest'
      responses:
        '200': { description: Commit and ref update completed or replayed. }
        '403': { description: 'Repository, branch, path, or fault policy rejected the request.' }
        '409':
          description: Content integrity mismatch, operation conflict, or stale head.
        '422': { description: Referenced file could not be fetched safely. }
        '413': { description: Request or content limit exceeded. }
  /v1/github/pull:
    post:
      operationId: createOrUpdateBoundedPullRequest
      x-openai-isConsequential: true
      summary: Create or update a PR for the allowlisted experiment branch.
      requestBody:
        required: true
        x-bodyMaxBytes: 393216
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PullRequest'
      responses:
        '200': { description: Pull request mutation completed or replayed. }
        '403': { description: 'Repository, branch, base, or PR policy rejected the request.' }
        '409': { description: Operation conflict or stale head. }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    File:
      type: object
      additionalProperties: false
      required: [path, content_base64, expected_bytes, expected_sha256]
      properties:
        path:
          type: string
          maxLength: 240
          pattern: '^experiments/gpt-actions-github/[A-Za-z0-9_-]+(?:\.[A-Za-z0-9_-]+)*(?:/[A-Za-z0-9_-]+(?:\.[A-Za-z0-9_-]+)*)*$'
        content_base64:
          type: string
          maxLength: 87384
          contentEncoding: base64
          contentMediaType: text/plain; charset=utf-8
        expected_bytes:
          type: integer
          minimum: 0
          maximum: 65536
          description: Exact decoded byte count of content_base64.
        expected_sha256:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: Lowercase SHA-256 of the exact decoded content_base64 bytes.
    FileManifestEntry:
      type: object
      additionalProperties: false
      required: [file_id, path, expected_bytes, expected_sha256]
      properties:
        file_id: { type: string, minLength: 1, maxLength: 200 }
        path:
          type: string
          maxLength: 240
          pattern: '^experiments/gpt-actions-github/[A-Za-z0-9_-]+(?:\.[A-Za-z0-9_-]+)*(?:/[A-Za-z0-9_-]+(?:\.[A-Za-z0-9_-]+)*)*$'
        expected_bytes: { type: integer, minimum: 0, maximum: 65536 }
        expected_sha256: { type: string, pattern: '^[0-9a-f]{64}$' }
    CommitRequest:
      type: object
      additionalProperties: false
      required: [operation_id, repository, branch, expected_head_sha, mode, message]
      properties:
        operation_id:
          type: string
          minLength: 8
          maxLength: 80
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{7,79}$'
        repository: { type: string, enum: [marcogallotta/gpt-actions-github-fixture] }
        branch: { type: string, enum: [gpt-actions-controlled-github-feasibility] }
        expected_head_sha: { type: string, pattern: '^[0-9a-f]{40}$' }
        mode: { type: string, enum: [create, update] }
        message:
          type: string
          minLength: 1
          maxLength: 160
          pattern: '^\S(?:[^\r\n]*\S)?$'
        files:
          type: array
          minItems: 1
          maxItems: 32
          description: Decoded file content is limited to 262144 bytes in aggregate.
          x-decodedAggregateMaxBytes: 262144
          items: { $ref: '#/components/schemas/File' }
        file_manifest:
          type: array
          minItems: 1
          maxItems: 10
          description: Maps each attached Action file ID to its exact destination and integrity values.
          items: { $ref: '#/components/schemas/FileManifestEntry' }
        openaiFileIdRefs:
          type: array
          minItems: 1
          maxItems: 10
          description: Attach the exact text files named in file_manifest. Runtime values are OpenAI file-reference objects.
          items: { type: string }
        test_fail_after_commit: { type: boolean, default: false }
      oneOf:
        - required: [files]
        - required: [file_manifest, openaiFileIdRefs]
    PullRequest:
      type: object
      additionalProperties: false
      required: [operation_id, repository, branch, base, expected_head_sha, mode, title, body]
      properties:
        operation_id:
          type: string
          minLength: 8
          maxLength: 80
          pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{7,79}$'
        repository: { type: string, enum: [marcogallotta/gpt-actions-github-fixture] }
        branch: { type: string, enum: [gpt-actions-controlled-github-feasibility] }
        base: { type: string, enum: [main] }
        expected_head_sha: { type: string, pattern: '^[0-9a-f]{40}$' }
        mode: { type: string, enum: [create, update] }
        pull_number: { type: integer, minimum: 1 }
        title:
          type: string
          minLength: 1
          maxLength: 120
          pattern: '^\S(?:[^\r\n]*\S)?$'
        body: { type: string, maxLength: 4000 }
        draft: { type: boolean, default: true }
        test_fail_after_mutation: { type: boolean, default: false }
      allOf:
        - if:
            properties:
              mode: { const: update }
          then:
            required: [pull_number]
security:
  - bearerAuth: []
